/*General*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1.6rem;
}

/*Botones*/
.boton1 {
    color: white;
    border-radius: 10rem;
    height: 5rem;
    width: 15rem;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: all 0.8s;
    margin: 1rem;
}

.boton1:hover {
    color: black;
    background-color: white;
}

.botons{
    background-color: #0a7779;
}

.botons:hover{
    border: 2px solid #0a7779;
    color: #0a7779;
}
/*Header*/

header * {
    color: white;
    position: relative;
    text-decoration: none;
}

.inicio {
    background-image: url(../images/header.jpg);
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inicio:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.barra>h1 {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 100;
}

.barra span {
    font-weight: 900;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.barra {
    display: flex;
    justify-content: space-around;
}

nav {
    padding-top: 3.5rem;
}

nav a {
    padding: 3rem;
}

/*Portada*/
.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    align-items: center;
}

/*Contenido Nuestros cursos*/
.contenidoclases{
    display: flex;
    justify-content: center;
    
}

.contenido1 h1{
    padding-bottom: 1rem;
    text-align: center;
}
.contenido1{
    margin: 3rem;
}

.contenidoclases h2{
text-align: center;
}

.contenidoclases > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contenidoclases > div > div{
text-align: center;
}

.iconoclases{
    height: 10rem;
    width: 10rem;
    margin-bottom: 5rem;
}


/*Contenido 2*/
