/*General*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1.6rem;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;

}
a:hover{
    text-decoration: none;
}
/*Utilidades*/
.content{
    max-width: 100%;
    margin: 0 7% 0 7%;
    padding: 1rem;
}


.centrar-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header1{
    padding-bottom: 1rem;
    text-align: center;
}
.header1::after{
    content: '';
    background-color: #0a7779;
    height: .5rem;
    width: 20rem;
    display: block;
    margin: 1rem auto;
}


.cardcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card1{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom:5rem
}
.card1 img{
    max-width: 25%;
}
.card1 h2,.card1 div{
    text-align: center;
}
.card1 button{
    color: white;
    border-radius: 10rem;
    height: 5rem;
    width: 15rem;
    border: 2px solid white;
    background-color: #0a7779;
    padding: 1rem;
    transition: all 0.8s;
    margin: 1rem;
}
.card1 button:hover{
    border: 2px solid #0a7779;
    color: #0a7779;
    background-color: white;
}
.card1 *{
    padding-bottom: 1rem;
    padding-top:1rem
}

/*Botones*/
.boton1 {
    color: white;
    border-radius: 10rem;
    height: 5rem;
    width: 15rem;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: all 0.8s;
    margin: 1rem;
}

.boton1:hover {
    color: black;
    background-color: white;
}

.boton2{
    background-color: #0a7779;
}

.boton2:hover{
    border: 2px solid #0a7779;
    color: #0a7779;
}

.bcontact{
    height: 3rem;
    padding: 0;
}

/*Header*/

header * {
    color: white;
    position: relative;
    text-decoration: none;
}

.inicio {
    background-image: url(../images/header.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inicio:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.barra>h1 {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 100;
}

.barra span {
    font-weight: 900;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.barra {
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
}

nav a {
    padding: 3rem;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.2);
    color: white;

}

/*Portada*/
.portada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50rem;
    align-items: center;
}


/*Contacto*/

.contacto *{
    color: white;
    position: relative;
}
.contacto{
    background-image: url(/images/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
}
.contacto::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.contact-content{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
    padding-top:3rem ;
}
.contact-content button{
    flex-basis: calc(20%-100rem);
}

.contact-content p{
    padding-right: 2rem;
}


/*Resultados*/
.resultados{
    background-image: url(/images/oficina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 5rem;
    
}
.resultados h1{
    color:white;
    position: relative;
}
.resultados::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.815);
}
.resultados1 *{
    position: relative;
}
.resultados1 p{
    color:#119fa1;
    font-weight: 900;
    font-size: 7rem;
}
.resultados1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.resultados1{
    display: flex;
    justify-content: space-around;

}