/*Header*/


    /*Estilo del header*/
header *{
    color: white;
    position: relative;
    text-decoration: none;
}

.inicio{
    background-image: url(../images/header.jpg);
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inicio:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}


    /*Posicion del header*/
.contenedor{
    max-width: 1200px;
    margin: 0 auto 0 auto;
}
.barra{
    display: flex;
    justify-content: space-between;
}

nav{
    padding-top: 30px;
}

nav a {
    padding: 10px;
}